In [1]:
# ret_apr = (((116557.57 + (5929.68 -5839.47)))/115521.49) /100    
# # axis show 0 and 100k more labels for y axis 
# # mre explicit, this is july 2022 till 
# # df.tail(5)
# # emphasis 9n the start of the investment , and also end of each month

In [1]:
%run _22_tbls.py

 ATTN !! _22_ LEDGER EXPORTED _df_costs_1_2_complete_LEDGER.pkl


BROCKAGE COSTS till 2022-07-01 are $ 606

Type 'cd' for today's date or 'pd' for the past adjusted date or the last day of the month:  pd
Enter the number of months ago:  1

Selected cutoff date: 2024-04-30
2024-04-30 00:00:00
2024-04-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2024-03-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2024-02-29
- - - - - - - - - - - - - > LEDGER PROCESSED
2024-01-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-12-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-11-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-10-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-09-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-08-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-07-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-06-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-05-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-04-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-03-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-02-28
- - - - - - - - - - - - - > LEDGER PROCESSED
2023-01-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-12-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-11-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-10-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-09-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-08-30
- - - - - - - - - - - - - > LEDGER PROCESSED
2022-07-30
- - - - - - - - - - - - - > LEDGER PROCESSED

In [8]:
df_br_costs

    period  trans_fee
0        0          0
1        1          0
2        2          0
3        3         99
4        4         13
5        5          0
6        6          0
7        7         26
8        8         39
9        9          0
10      10         59
11      11          0
12      12         13
13      13          0
14      14         66
15      15          0
16      16          0
17      17         13
18      18          0
19      19         13
20      20          0
21      21          0
22      22        265

In [3]:
df_report

,Stock,units_hold,AnalysisEndDate,period,price_end_date,total_divs,stock_value_hold,period_cash,period_divs,period_total_cash,period_stocks_value,period_total_holds,trans_fee
0,360.AX,352.61,2024-04-30,0,13.77,0.0,4855.38,2084.359724,13.54,2097.9,114599.85,116697.74,0
1,ACDC.AX,0.00,2024-04-30,0,95.50,0.0,0.00,2084.359724,13.54,2097.9,114599.85,116697.74,0
2,ALD.AX,29.19,2024-04-30,0,36.81,0.0,1074.38,2084.359724,13.54,2097.9,114599.85,116697.74,0
3,AMC.AX,121.05,2024-04-30,0,13.82,0.0,1672.89,2084.359724,13.54,2097.9,114599.85,116697.74,0
4,ANN.AX,0.00,2024-04-30,0,25.59,0.0,0.00,2084.359724,13.54,2097.9,114599.85,116697.74,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,USIG.AX,0.00,2022-07-30,21,0.00,0.0,0.00,1852.200000,0.00,1852.2,102514.51,104366.71,0
1074,VCX.AX,420.98,2022-07-30,21,2.07,0.0,871.44,1852.200000,0.00,1852.2,102514.51,104366.71,0
1075,VHY.AX,0.00,2022-07-30,21,0.00,0.0,0.00,1852.200000,0.00,1852.2,102514.51,104366.71,0
1076,WES.AX,34.88,2022-07-30,21,46.63,0.0,1626.68,1852.200000,0.00,1852.2,102514.51,104366.71,0
1077,XRO.AX,10.00,2022-07-30,21,92.99,0.0,930.26,1852.200000,0.00,1852.2,102514.51,104366.71,0

In [7]:
df

,Stock,units_hold,AnalysisEndDate,period,price_end_date,total_divs,stock_value_hold,period_cash,period_divs,period_total_cash,period_stocks_value,period_total_holds,trans_fee
0,360.AX,352.61,2024-04-30,0,13.77,0.0,4855.38,2084.359724,13.54,2097.9,114599.85,116697.74,0
1,ACDC.AX,0.00,2024-04-30,0,95.50,0.0,0.00,2084.359724,13.54,2097.9,114599.85,116697.74,0
2,ALD.AX,29.19,2024-04-30,0,36.81,0.0,1074.38,2084.359724,13.54,2097.9,114599.85,116697.74,0
3,AMC.AX,121.05,2024-04-30,0,13.82,0.0,1672.89,2084.359724,13.54,2097.9,114599.85,116697.74,0
4,ANN.AX,0.00,2024-04-30,0,25.59,0.0,0.00,2084.359724,13.54,2097.9,114599.85,116697.74,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1073,USIG.AX,0.00,2022-07-30,21,0.00,0.0,0.00,1852.200000,0.00,1852.2,102514.51,104366.71,0
1074,VCX.AX,420.98,2022-07-30,21,2.07,0.0,871.44,1852.200000,0.00,1852.2,102514.51,104366.71,0
1075,VHY.AX,0.00,2022-07-30,21,0.00,0.0,0.00,1852.200000,0.00,1852.2,102514.51,104366.71,0
1076,WES.AX,34.88,2022-07-30,21,46.63,0.0,1626.68,1852.200000,0.00,1852.2,102514.51,104366.71,0
1077,XRO.AX,10.00,2022-07-30,21,92.99,0.0,930.26,1852.200000,0.00,1852.2,102514.51,104366.71,0

In [5]:
df_br_costs['trans_fee'].sum()

606

In [6]:
df_report['trans_fee'].sum()

16709

In [9]:
# # last df_report
# df_report
# df = df_report.merge(df_br_costs, on='period', how='left').copy()
# #df.head()

brokerage_paid = df['trans_fee'].sum()
initial_investment= 100000 
d_start_date= '2022-07-01'
cash_init = 1852.200000
# Monthly returns table 
df = df.drop_duplicates(subset=['period'], keep='first')
df = df[['AnalysisEndDate','period',
       'period_divs','period_total_cash',
       'period_stocks_value','period_total_holds'
      ]]

per_inv = len(df)
new_row = {
    "AnalysisEndDate": d_start_date,
    "period": per_inv,  # Assigning -1 to denote initial state before period 0

    "period_divs": 0,
    "period_total_cash": cash_init+0,
    "period_stocks_value": initial_investment-cash_init,
    "period_total_holds": initial_investment
}

# Appending the new row
df = df.append(new_row, ignore_index=True)
df.sort_values(by='period', ascending=True, inplace=True)
# Calculate monthly returns
df = df.merge(df_br_costs, on='period', how='left').copy()
# ACCOUNT NOW FOR TRANS FEES.
df['trans_fee']= df['trans_fee']*-1
#df['total_']= df['trans_fee']*-1

# ::::::::::::::::::::::::::::::::: TOTAL HOLDS DIFF from last period to the end month for the next
df['stock_hold_diff'] = df['period_stocks_value'].diff(-1)
# NOW that - >>>>>>>>>>>>>>> trans FEES 
df['stock_hold_diff_w_fee'] = df['stock_hold_diff'] + df['trans_fee']

# NOW WE HAVE THE DIFFERENCE STOCK HOLDS minus period fees , get rid of 'stock_hold_diff' , 'period_stocks_value' 

# df = df[['AnalysisEndDate','period',
#        'period_divs','period_total_cash','stock_hold_diff_w_fee','period_total_holds'

#       ]]
# # ::::::::::::::::::::::::::: TOTAL CASH DIFF : CASH + DIVIDENDS DIFFERENCE
# df['divs_hold_diff_w_cash'] = df['period_total_cash'].diff(-1)

# ### --- FILTER THEM FOR GRAPHING ::: GRAPH 
# #df_div_graph  = df[['AnalysisEndDate','period','period_divs','period_total_cash']]

# ### and get rid of period divs from df but do keep the difference 
# df = df[['AnalysisEndDate','period','stock_hold_diff_w_fee','divs_hold_diff_w_cash','period_total_holds'

#       ]]
# df.head()

# # ::::::::::::::::::::::::::: TOTAL RETURN END TO MONTH DIFF = 
# df['monthly_return'] = df['stock_hold_diff_w_fee'] + df['divs_hold_diff_w_cash'] 
# df
df

,AnalysisEndDate,period,period_divs,period_total_cash,period_stocks_value,period_total_holds,trans_fee,stock_hold_diff,stock_hold_diff_w_fee
0,2024-04-30,0,13.54,2097.90,114599.85,116697.74,0,-1848.46,-1848.46
1,2024-03-30,1,0.00,2084.36,116448.31,118532.67,0,4056.57,4056.57
2,2024-02-29,2,0.00,2084.36,112391.74,114476.10,0,4515.24,4515.24
3,2024-01-30,3,0.00,2968.23,107876.50,110844.73,-99,-263.10,-362.10
4,2023-12-30,4,0.00,2968.23,108139.60,111107.83,-13,4092.32,4079.32
5,2023-11-30,5,0.00,2968.23,104047.28,107015.51,0,4886.83,4886.83
6,2023-10-30,6,0.00,2968.23,99160.45,102128.68,0,-5249.40,-5249.40
7,2023-09-30,7,0.00,1852.20,104409.85,106262.05,-26,-3620.80,-3646.80
8,2023-08-30,8,0.00,1852.20,108030.65,109882.85,-39,-1000.27,-1039.27
9,2023-07-30,9,0.00,1852.20,109030.92,110883.12,0,970.78,970.78
10,2023-06-30,10,0.00,1852.20,108060.14,109912.34,-59,673.24,614.24
11,2023-05-30,11,0.00,1852.20,107386.90,109239.10,0,952.34,952.34
12,2023-04-30,12,0.00,1852.20,106434.56,108286.76,-13,2184.95,2171.95
13,2023-03-30,13,0.00,1852.20,104249.61,106101.81,0,-541.62,-541.62
14,2023-02-28,14,0.00,1852.20,104791.23,106643.43,-66,-383.17,-449.17
15,2023-01-30,15,0.00,1852.20,105174.40,107026.60,0,3723.30,3723.30
16,2022-12-30,16,0.00,1852.20,101451.10,103303.30,0,-3211.20,-3211.20
17,2022-11-30,17,0.00,1852.20,104662.30,106514.50,-13,3896.41,3883.41
18,2022-10-30,18,0.00,1852.20,100765.89,102618.09,0,3096.95,3096.95
19,2022-09-30,19,0.00,1852.20,97668.94,99521.14,-13,-4434.09,-4447.09
20,2022-08-30,20,0.00,1852.20,102103.03,103955.23,0,-411.48,-411.48
21,2022-07-30,21,0.00,1852.20,102514.51,104366.71,0,4366.71,4366.71
22,2022-07-01,22,0.00,1852.20,98147.80,100000.00,-265,NaN,NaN

In [8]:
df =[['AnalysisEndDate','period_divs']]

In [7]:
import matplotlib.pyplot as plt
import pandas as pd

# Load df_master with your data
df_master = df 

# Pivot the data for the chart
df_pivot = df_master.pivot_table(index='Stock', columns='period', values='period_divs', aggfunc='sum').fillna(0)

# Sort the columns based on period for proper order in plotting
sorted_columns = sorted(df_pivot.columns, key=lambda x: int(x[:-1]))
df_pivot = df_pivot[sorted_columns]

# Calculate the difference from one period to the next, filling NA with the original values for the first period
df_pivot_diff = df_pivot.diff(axis=1).fillna(0)
df_pivot_diff[sorted_columns[0]] = df_pivot[sorted_columns[0]]

# Define colors_list and out_direc (modify as needed)
colors_list = ['#1f77b4', '#ff7f0e', '#2ca02c', '#d62728', '#9467bd', '#8c564b']  # Example colors
out_direc = 'graphs'  # Output directory for the graph image

# Plotting
fig, ax = plt.subplots(figsize=(10, 8))
df_pivot_diff.plot(kind='bar', stacked=True, ax=ax, color=colors_list)

# Customizations
ax.set_title('Dividend Total by Stock and Period', fontsize=16)
ax.set_xlabel('Stock', fontsize=14)
ax.set_ylabel('Dividend Total', fontsize=14)
ax.legend(title='Months Period', fontsize=12, loc='upper right')
plt.xticks(rotation=45)  # Ensure labels are rotated for readability
ax.set_xticklabels(df_pivot_diff.index, rotation=45)

plt.tight_layout()  # Adjust layout
plt.savefig(f'{out_direc}/_G3_dividend_growth.png', dpi=300)
plt.show()  # Display the plot

# Creating a DataFrame from a list of lists
df = pd.DataFrame([['AnalysisEndDate', 'period_divs']], columns=['Date', 'Dividends'])
print(df)

KeyError: 'Stock'

In [4]:
4366.71	+770.75

5137.46

In [29]:
122406.90/124185.74

0.9856759721365753

In [ ]:
# ret_apr = (((116557.57 + (5929.68 -5839.47)))/115521.49) /100    

df

In [27]:
5929.68 -5839.47

90.21000000000004

In [21]:
# NOW WE HAVE THE DIFFERENCE STOCK HOLDS minus period fees , get rid of 'stock_hold_diff' , 'period_stocks_value' 

df = df[['AnalysisEndDate','period',
       'period_divs','period_total_cash','stock_hold_diff_w_fee','period_total_holds'

      ]]
# ::::::::::::::::::::::::::: DIVIDENDS DIFFERENCE
df['divs_hold_diff'] = df['period_divs'].diff(-1)

### --- FILTER THEM FOR GRAPHING ::: GRAPH 
#df_div_graph  = df[['AnalysisEndDate','period','period_divs','period_total_cash']]

### and get rid of period divs from df but do keep the difference 
df = df[['AnalysisEndDate','period',
       'period_divs','period_total_cash','stock_hold_diff_w_fee','period_total_holds'

      ]]

In [22]:
# ret_apr = (((116557.57 + (5929.68 -5839.47)))/115521.49) /100    

df

,AnalysisEndDate,period,period_divs,period_total_cash,stock_hold_diff_w_fee,period_total_holds,divs_hold_diff
0,2024-04-30,0,5873.99,6359.88,-1901.08,122406.90,122.24
1,2024-03-30,1,5751.75,6237.63,4005.26,124185.74,238.57
2,2024-02-29,2,5513.18,5999.06,6066.35,119941.92,243.80
3,2024-01-30,3,5269.38,8237.60,-362.10,116114.10,308.29
4,2023-12-30,4,4961.09,7929.31,4079.32,116068.91,217.91
5,2023-11-30,5,4743.18,7711.41,4886.83,111758.69,337.39
6,2023-10-30,6,4405.79,7374.02,-5249.40,106534.47,127.43
7,2023-09-30,7,4278.36,6130.56,-3646.80,110540.40,280.45
8,2023-08-30,8,3997.91,5850.11,-1039.27,113880.76,220.51
9,2023-07-30,9,3777.40,5629.60,970.78,114660.52,810.06
10,2023-06-30,10,2967.34,4819.54,614.24,112879.68,434.30
11,2023-05-30,11,2533.04,4385.24,952.34,111772.15,139.56
12,2023-04-30,12,2393.48,4245.68,2171.95,110680.24,72.09
13,2023-03-30,13,2321.39,4173.59,-541.62,108423.20,204.04
14,2023-02-28,14,2117.35,3969.55,-449.17,108760.78,208.19
15,2023-01-30,15,1909.16,3761.36,3723.30,108935.77,252.63
16,2022-12-30,16,1656.53,3508.73,-3211.20,104959.83,202.75
17,2022-11-30,17,1453.78,3305.98,3883.41,107968.28,165.67
18,2022-10-30,18,1288.11,3140.31,3096.95,103906.20,17.47
19,2022-09-30,19,1270.64,3122.84,-4447.09,100791.78,352.23
20,2022-08-30,20,918.41,2770.61,-411.48,104873.64,147.66
21,2022-07-30,21,770.75,2622.95,4366.71,105137.46,770.75
22,2022-07-01,22,0.00,1852.20,NaN,100000.00,NaN

In [36]:
1852.20	+98147.80-265

99735.0

In [19]:
98147.80+1852

99999.8

In [1]:
# ITERATE
import pandas as pd

# df is the main DataFrame, select a few necessary columns
df_pies = df[['Stock', 'AnalysisEndDate', 'period', 'stock_value_hold', 
              'period_cash','period_divs','period_total_cash', 'trans_fee']]

# Determine unique periods
unique_periods = sorted(df['period'].unique())

# Initialize an empty DataFrame to collect final results
df_final = pd.DataFrame()

# Iterate over each period
for period in unique_periods:
    # Filter by current period
    df_current = df_pies[df_pies['period'] == period]

    # Extract the first value from period_total_cash column (assuming all are the same)
    cash_value = df_current['period_total_cash'].iloc[0]
    analysis_end_date = df_current['AnalysisEndDate'].iloc[0]  # Same date for all entries in df_current
    trans_fee = df_current['trans_fee'].iloc[0]  # Same transaction fee for all entries in df_current

    # Create a new DataFrame to append
    new_row = pd.DataFrame({
        'Stock': ['CASH'],
        'AnalysisEndDate': [analysis_end_date],
        'period': [period],
        'stock_value_hold': [cash_value],
        'period_total_cash': [cash_value],  # This might be redundant but included for consistency
        'trans_fee': [trans_fee]
    })

    # Append the new row to df_current
    df_current = pd.concat([df_current, new_row], ignore_index=True)

    # Find the index of the 'CASH' row
    cash_index = df_current[df_current['Stock'] == 'CASH'].index[0]

    # Subtract the trans_fee from the stock_value_hold for the 'CASH' row
    df_current.loc[cash_index, 'stock_value_hold'] -= df_current.loc[cash_index, 'trans_fee']

    # Calculate the total of stock_value_hold for percentage calculation
    total_stock_value = df_current['stock_value_hold'].sum()

    # Calculate percentages in the stock_value_hold column
    df_current['stock_value_hold_pct'] = (df_current['stock_value_hold'] / total_stock_value) * 100

    # Select the columns for the final DataFrame
    df_current_pie = df_current[['Stock', 'AnalysisEndDate', 'period', 'stock_value_hold',
                                 'period_cash','period_divs','stock_value_hold_pct', 'trans_fee']]

    # Append the processed DataFrame to the final DataFrame
    df_final = pd.concat([df_final, df_current_pie], ignore_index=True)

# Resulting DataFrame
df_final.head(50)

NameError: name 'df' is not defined